{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log in</legend>
                <div class="login-box auth0-box before">
                    <img src="https://i.cloudup.com/StzWWrY34s.png" />
                    <h3>Auth0 Example</h3>
                    <p>Zero friction identity infrastructure, built for developers</p>
                    <a class="btn btn-primary btn-lg btn-login btn-block" href="/login/auth0">Log In</a>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Log in</button>
            </div>        
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an account? <a class="ml-2" href="{% url 'register' %}">Sign up now</a>
            </small>
        </div>
    </div>
{% endblock content %}
